<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/output.css" rel="stylesheet" />
    <title>Holidays</title>
  </head>
  <body>
    <h1>Holiday website</h1>
    <h1 class="text-3xl font-bold underline">Hello world!</h1>
    <div>
      <form action="/" method="POST">
        <div class="grid gap-6 mb-6 md:grid-cols-2">
          <div>
            <label
              for="country"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Country</label
            >
            <input
              type="text"
              id="country"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Enter country name"
              required
            />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
